body{
    font-family: 'Source Sans 3', sans-serif;
    text-align: center;
    width:50%;
}


img{
    width: 600px;
}

header p{
    font-size: 29pt;
    background-color:#04146c;
    color: white;
    font-weight: 400;
}

h1{
    font-size: 66pt;
    background-color:white;
    color: #04146c;
    font-weight: 900;
    margin: 0 0 0 0;
}

main p{
    font-size: 20pt;
    background-color:white;
    color: #04146c;
    font-weight: 400;
}

main p strong{
    font-weight: 700;
}

footer{

    background-color: #edf7ff;
}

footer p{
    font-size: 18pt;
    color: #04146c;
    font-weight: 400;
    margin: 0 0 0 0;
}